<!doctype html>
<html>
<head>
  <title>Hi There!</title>
</head>
<body>
<form action="/madlib">
  Choose a person: <input type="text" name="person"><br>
  Choose a color: <input type="text" name="color"><br>
  Choose a noun: <input type="text" name="noun"><br>
  Choose an verb: <input type="text" name="verb"><br>
  Choose an preposition: <input type="text" name="preposition"><br>
  Choose an article: <input type="text" name="article"><br>
  Choose an punctuation: <input type="text" name="punctuation"><br>
  Choose an adjective: <input type="text" name="adjective"><br>
  <input type="submit">
</form>
</body>
</html>
